@media (max-width: 600px) {
  .home-left,
  .home-right {
    display: none;
  }

  .home-container01 {
    display: none;
  }

  .home-navbar {
    border-bottom: 2px solid white;
    height: 70px;
    padding: 0px;
  }

  .section-container {
    flex-direction: column;
    margin: auto;
    padding-top: 36px;
  }

  .home-hero1 {
    flex-direction: column;
  }

  .home-container03 {
    margin: auto;
    align-items: center;
  }

  .section-container.column {
    padding-top: 12px;
  }

  .category-card-category-card {
    width: 45%;
  }

  .category-card-category-card img {
    width: 100%;
    /* object-fit: cover;
    overflow: hidden; */
  }

  .home-cards-container {
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    margin-right: 0px auto;
    padding-left: 24px;
  }

  .home-text29 {
    padding-top: 36px;
  }

  .home-text30 {
    width: 100%;
  }

  .home-btn.button {
    margin-bottom: 36px;
  }

  .home-image6 {
    width: 100%;
  }

  .blog-post-card-blog-post-card {
    max-width: 580%;
  }

  .home-footer1 {
    flex-direction: column;
  }

  .home-links-container {
    flex-direction: column;
  }

  .home-container09 {
    order: 1;
    margin-top: 36px;
  }
}
