@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --header-btn: #370511;
  --gray-dark: #66545e;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  position: relative;
  height: 60vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header .img-header {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation {
  margin: 12px 0px;
  position: absolute;
  display: flex;
  left: 15%;
  justify-content: space-between;
  width: 80%;
  padding-right: 72px;
}

.title-nav {
  font-weight: 900;
  font-size: 18px;
}

.list-nav {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.list-nav {
  padding-right: 36px;
  
}

.header-main-sec {
  position: absolute;
  /* display: flex; */
  flex-direction: column;
  top: 40%;
  left: 15%;
}

.h1-header {
  font-size: 36px;
  font-weight: 900;
}

.h2-header {
  font-size: 18px;
}

.parag-header {
  font-size: 12px;
}

.h1-header {
    padding: 6px 0px;
}

.h2-header {
    padding: 6px 0px;
}

.parag-header-btn {
    padding: 12px 0px; 
    align-items: center;
    margin-top: 24px;
    width: 115px;
}

.header-btn {
    background-color: var(--header-btn);
    color: white;
    border-radius: 12px;
    padding: 6px 12px;
}

/* FOOTER */

.footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 24px 146px;
    align-items: center;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
}

.footer-list {
    font-size: 12px;
}

.parag-social {
    font-size: 12px;  
}

.social-list {
    display: flex;
}

.social-el {
    gap: 12px;
}

i {
    padding: -20px;
}