<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Time for School</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container-fluid container-fluid row justify-content-center">
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.isFirst()} ? 'disabled' : ''">
                <a th:unless="${schools.isFirst()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=0)}"
                   class="page-link" href="#">First</a>
                <a th:if="${schools.isFirst()}"
                   class="page-link" href="#">First</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.hasPrevious() ? '' : 'disabled'}">
                <a th:if="${schools.hasPrevious()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getNumber() - 1})}"
                   class="page-link" href="#">Previous</a>
                <a th:unless="${schools.hasPrevious()}"
                   class="page-link" href="#">Previous</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.hasNext() ? '' : 'disabled'}">
                <a th:if="${schools.hasNext()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getNumber() + 1})}"
                   class="page-link" href="#">Next</a>
                <a th:unless="${schools.hasNext()}"
                   class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:classappend="${schools.isLast()} ? 'disabled' : ''">
                <a th:unless="${schools.isLast()}"
                   th:href="@{/schools/all(size=${schools.getSize()},page=${schools.getTotalPages() - 1})}"
                   class="page-link" href="#">Last</a>
                <a th:if="${schools.isLast()}"
                   class="page-link" href="#">Last</a>
            </li>
        </ul>
    </nav>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
