@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --bg-color: #f6e0b5;
  --gray-dark: #66545e;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--gray-dark);
}

.blog {
  background-color: var(--bg-color);
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  height: 100vh;
}

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.articles {
  width: 68%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  margin-left: 24px;
  margin-top: 36px;
}

.art {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: auto;
  background-color: var(--gray-dark);
  border-radius: 12px;
  border: 1px solid black;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px 20px black;
}

.art img {
    border-radius: 12px 12px 0px 0px;
}

article .parag-art {
    padding: 6px 4px;
}

.categories {
  width: 25%;
  margin-top: 36px;
  padding-right: 48px;
}

.parag-category {
    font-size: 22px;
}
