/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'); */

html {
  font-family: Helvetica, sans-serif;
}

body {
  padding: 20px;
}

header nav {
    display: inline-block;
}

header nav h1,
ul,
ul > li {
  display: inline-block;
}

h1 {
  margin-right: 40px;
  font-size: 32px;
}

ul {
  list-style: none;
}

li:not(:last-child) {
    margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(135, 197, 18);
}

header {
  border-bottom: 2px solid black;
}

main h2,
p {
  padding: 10px 0px;
}

main h2 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}
