@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import "https://use.fontawesome.com/releases/v5.10.2/css/all.css";

:root {
    --gray-light: #f5f5f5;
    --font-red: #cb2027;
    --font-black: #080808;
  }

body {
    font-family: "Courgette", sans-serif;
    background-color: var(--gray-light);
    color: var(--font-black);
    margin: 48px 72px;
}

.hero {
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

.hero .hero-title {
    font-size: 48px;
    font-weight: 400;
}

.hero .hero-subtitle {
    color: var(--font-red);
    position: relative;
    top: 50%;
    right: -9%;
}

.cards {
    display: flex;
    margin: 24px 72px 48px 72px;
    gap: 28px;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border-radius: 18px;
}


article .img {
    height: 50%;
    border-radius: 18px 18px 0px 0px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  article .article-heading {
    margin: 0px 12px;
    padding: 12px;
    border-bottom: 1px solid var(--font-red);
  }

  article .article-par {
    padding: 12px;
    margin: 6px 0px 36px 0px;
    height: 20%;
  }

  article .article-redirection {
    align-content: flex-end;
  }

  article i {
    color: var(--font-red);
    padding-left: 5px;

  }